<nav class="navbar navbar-expand-lg navbar-light bg-warning fixed-top">
    <div class="container px-4 px-lg-5">
        <div class="col-lg-6"><a class="navbar-brand" href="#!"> <i class="fa fa-cart-shopping"></i> Online cart</a></div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item">
                    <form>
                        <input type="text" (keyup)="search($event)" placeholder="Search for products" class="form-control">
                    </form>
                </li>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li class="nav-item"><a class="nav-link" routerLink="/products/wish-list"> <i class="fa fa-heart text-danger"></i> Wishlist </a></li>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li class="nav-item">
                    <form class="d-flex">
                        <button routerLink="/products/cart" class="btn btn-outline-dark" type="button">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill">{{cartCount}}</span>
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>