<section class="py-5 my-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img height="500px" class="card-img-top mb-5 mb-md-0" [src]="product.image" [alt]="product.title" /></div>
            <div class="col-md-6">
                <div class="small mb-1">ID : {{product.id}}</div>
                <h1 class="display-5 fw-bolder">{{product.title}}</h1>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through">${{product.price+5}}</span>
                    <span> ${{product.price}}</span>
                </div>
                <p class="lead">{{product.description}}</p>
                
               Rating : <span [class]="rate" *ngFor="let rate of rating"></span>
               {{product.rating.rate}}
                <div class="d-flex">
                    <div class="text-center"><a class="btn btn-outline-danger mt-auto mx-3" (click)="addToWidhlist(product)">Wish list</a></div>
                    <button class="btn btn-outline-success flex-shrink-0" (click)="addToCart(product)">
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>


