<div class="container mt-5 pt-5" *ngIf="emptyStatus">
    <div class="row">
        <div class="col text-center">
            <img height="300px" src="https://www.qrcardboard.com/images/cart.gif?v=01" alt="Empty cart">
            <h3>Empty wishlist</h3>
            <button routerLink="" class="btn btn-primary mt-2">Shop more</button>
        </div>
    </div>
</div>



<div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center pt-5">
        <div class="col mb-5" *ngFor="let product of products">
            <div class="card h-100">
                <!-- Product image-->
                <img class="card-img-top" [src]="product.image" alt="..." />
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">{{product.title.slice(0,10)+"..."}}</h5>
                        <!-- Product price-->
                        ${{product.price-5}}- ${{product.price}}
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <button class="btn text-danger mx-3" (click)="deleteWishlistItem(product.id)"><i class="fa fa-trash-can"></i></button>
                    <button class="btn text-success mx-3" (click)="addToCart(product)"><i class="fa fa-cart-plus"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

